@import "../../../scss/variables";
.slider-container {
  margin: 0 auto;
}
.cards-slider {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin: 20px auto;
  align-items: center;
  height: 300px;
  width: 90%;
}

.card-video {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
  width: 250px;
  background-color: $light-green;
  height: 230px;
  border-radius: 15px 15px 10px 10px;
}

.card-title {
  font-size: 16px;
  padding: 5px;
  text-align: center;
  color: $gray;
}

.card-thumbnail {
  border-radius: 10px 10px 0 0;
  width: 250px;
  height: auto;
}
::-webkit-scrollbar {
  padding-top: 10px;
  width: 20px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: $green;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  ::-webkit-scrollbar {
    display: none;
  }
}
